[Desktop Entry]
	Name=3DEqualizer 4
	Comment=3DEqualizer 4
	Exec=pp-launch-3dequalizer %U
	Icon=3dequalizer4
	Type=Application
	Categories=Fix;Graphics;
