[Desktop Entry]
Version=1.0
Type=Application
Name=Maya 2016 SgTk
GenericName=Maya 2016 sourcing SgTk
Comment=Maya
Terminal=false
Exec=xterm -T pp-launch-maya-sgtk -e "export PP_OVERRIDE_MAYA_VERSION=2016.sp5 && export PP_OVERRIDE_MENTAL_RAY_MAYA_PLUGIN_VERSION=2016.0-2360 && pp-launch-maya-sgtk || { echo '===== Command failed with status: $? =====' ; cat ; }" %U
Icon=mayaico_2016
Categories=Graphics;Fix;Maya
