[Desktop Entry]
Version=1.0
Type=Application
Name=Houdini Prod Version (15)
GenericName=Houdini Prod Version (15)
Comment=Houdini Prod Version (15)
Terminal=false
Exec=xterm -T pp-launch-houdini -e "pp-launch-houdini -foreground || { echo '===== Command failed with status: $? =====' ; cat ; }" %U
Icon=houdini.png
Categories=Graphics;Benuts;Fix;;Houdini
