[Desktop Entry]
Version=1.0
Type=Application
Name=Maya 2012 Gay Jardin
GenericName=Maya sourcing Gay Jardin
Comment=Maya
Terminal=false
Exec=xterm -T pp-launch-maya-gay-jardin -e "export PP_OVERRIDE_MAYA_VERSION=2012 && pp-launch-maya-gay-jardin || { echo '===== Command failed with status: $? =====' ; cat ; }"
Icon=mayaico_2012.png
Categories=Graphics;Fix;Maya


