[Desktop Entry]
Version=1.0
Encoding=UTF-8
Icon=mocha.png
Type=Application
Name=Mocha Pro
GenericName=mocha Pro
Exec=pp-launch-mocha
Terminal=false
Categories=Graphics;Benuts;
StartupNotify=false
