[Desktop Entry]
Name=NukeX 9.0v7
Comment=NukeX 9.0v7
Type=Application
Icon=nukex9.png
Terminal=false
Exec=xterm -T pp-launch-nukex -e bash -c "export PP_OVERRIDE_NUKE_VERSION=9.0v7 && pp-launch-nukex || { echo '===== Command failed with status: $? =====' ; cat ; }"
MimeType=
Categories=Graphics

